
/********************************************************************************

 TABLE OF CONTENTS

   GENERAL
   NAVIGATION
   HOVER EFFECTS
   SHAPES
   CARD
   TEMPLATE PAGE
   VIEWS (WDW)
    Z-index overview
   BACKGROUND IMAGE
   LANDING
   PAGES
   SOCIAL ICONS

 ********************************************************************************/


/********************************************************************************

                                  GENERAL

********************************************************************************/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background: rgba($accent2-color, 0.8); /* WebKit/Blink Browsers */
  }
  &::-moz-selection {
    background: rgba($accent2-color, 0.8); /* Gecko Browsers */
  }
}

body{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

html{
  overflow-x: hidden;
}

.container{
  width: 95%;
  //max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.work-wdw{
  .container{
    width: 90%;
    //max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

section{
  margin: 50px 0;
}

hr{
  margin: 30px 0;
  border-top: 1px solid $primary-color;
  width: 100%;
  &.small{
    height: 4px;
    margin: 0 10px 0 0;
    width: 20px;
    display: inline-block;
    border: 0;
    border-top: 1px solid $primary-color;
  }
}

.center{
  text-align: center;
}

.centered{
  margin: 0 auto;
}

.right-align{
  text-align: right;
}
.space{
  height: 100px;
}

.only-mobile{
  @include breakpoint(laptop){
    display: none;
  }
}
.only-desktop{
  display: none;
  @include breakpoint(laptop){
    display: block;
  }
}
[data-scroll-speed]{
  transition: 0.8s transform;
}

[data-scroll]{
  transition: 1.2s top;
}

.off-grid-left{
  margin-right: 6.28vw;
}

.off-grid-right{
  margin-left: 6.28vw;
}

.no-margin-section{
  margin: 0;
}

.custom-padding{
  padding: 50px 0;
}

.full-width{
  width: 100%;
}


.no-scroll{
  overflow: hidden;
}

.full-width{
  width: 100% !important;
}

.full-size-img{
  width: 100%;
  height: 70vh;
}

/********************************************************************************

                                 ANIMATION

********************************************************************************/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}



.animate-bounce {
  animation: bounce 2s infinite;
  &:hover {
    animation: none;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.arrow-animation{
  transform: translateY(-100vh);
}


/********************************************************************************
                                  FLY ANIMATION
********************************************************************************/



@-moz-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
@-webkit-keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
@-o-keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
@keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
/********************************************************************************

                                  HOVER EFFECTS

********************************************************************************/
.link-underline-appear, .link-underline-disappear{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}


.link-underline-appear{
  &:before{
    left: 50%;
    right: 50%;
  }
  &:hover,
  &:focus,
  &:active {
    &:before {
      left: 0;
      right: 0;
    }
  }
}

.link-underline-disappear{
  &:before{
    left: 0;
    right: 0;
  }
  &:hover,
  &:focus,
  &:active {
    &:before {
      left: 50%;
      right: 50%;
    }
  }
}
/********************************************************************************

                                  SHAPES

********************************************************************************/

.circle{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid $primary-color;
  .profile-icon{
    width: 19px;
  }
}

.arrow-down{
  position: relative;
  height: 54px;

  transition: transform 1s ease-in-out 0s;

  .arrow-down-line{
    position: absolute;
    left: 3px;
    width: 1px;
    background-color: $primary-color;
    height: 50px;
  }
  .arrow-down-point{
    position: absolute;
    bottom: 0;

    width:0;
    height:0;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid $primary-color;
   }
}

.arrow-down-point{
  position: absolute;
  bottom: 0;

  width:0;
  height:0;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-top:4px solid $primary-color;
}

.vertical-line{
  width: 1px;
  background-color: $primary-color;
  height: 30px;
}


/********************************************************************************

                                  CARD

********************************************************************************/

%card {
  background: $base-color;
  @include border-radius(2px);
  position: relative;

  width: 300px;
  height: 200px;
}

%card-shadow-1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

%card-shadow-2{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-1 {
  @extend %card;
  @extend %card-shadow-1;
}

.card-2{
  @extend %card;
  @extend %card-shadow-2;
}

/********************************************************************************

                                  TEMPLATE PAGE

********************************************************************************/

#colors{
  .fixed-width{
    width: 50px;
  }
}

.gradient-1, .gradient-2, .gradient-3, .gradient-4{
  width: 100%;
  height: 400px;
}

/********************************************************************************

                                  VIEWS (WDW)

********************************************************************************/

.wdw{
  width: 100%;

  //position: fixed;
  //top: 0;
  //left: 0;

  display: none;

  //overflow-y: scroll;
  //overflow-x: hidden;
  //height: 100%;

  transition: 0.2s all;

  &.open{
    display: block;
    .highest{
      z-index: 9;
    }
  }
}



/********************************************************************************
                                  Z-index overview
********************************************************************************/

.wdw-template{
  z-index: 0;
}

.wdw-example-1{
  z-index: 100;
}

.wdw-example-2{
  z-index: 200;
}

.wdw-example-3{
  z-index: 300;
}

.work-wdw{
  z-index: 10000;
}

/*

spaceship:              9999
 */

/********************************************************************************

                                  BACKGROUND IMAGE

********************************************************************************/

.background-image{
  padding-top: 0;
  @include background-size(cover);
  background-position: center;
  //background-image: url(../assets/images/yourUrl.jpg);
}

.image-half-width{
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  left: 0;
  @extend %card-shadow-2;
}



/********************************************************************************

                                  LANDING

********************************************************************************/

.landing{
  width: 100%;
  height: 100vh;
  padding: 0;
  @include breakpoint(laptop){
    @include flexbox();
    @include flex-direction(row);
  }
  @include breakpoint(bigscreens){
      //height: 85vh;
    }
  .front-img-large{

    @include breakpoint(laptop){
      background-image: url(../images/danielle.jpg);
      background-position: center top;
      //background-image: url(../images/img6.jpg);
      width: 46.86%;
      margin-right: 6.28%;
      height: 100vh;
    }
    @include breakpoint(bigscreens){
      //height: 85vh;
    }
  }
  .content{
    height: 90vh;
    padding: 5vh 0 5vh 0;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(space-around);

    @include breakpoint(laptop){
      @include align-items(flex-start);
      width: 46.86%;
      padding: 10vh 0 5vh 0;
    }
    @include breakpoint(bigscreens){
      //height: 70vh;
    }
    h1{
      line-height: normal;
      margin: 0;
      width: 100%;

      text-align: center;
      @include breakpoint(laptop){
        text-align: left;
        margin-left: -18.84%; /* 6 x pi */
        font-size: 4.5em; /*72 / 16 */
      }
      @include breakpoint(bigscreens){
        font-size: 5em; /*80 / 16 */
      }
    }
    .res-front-img{
      width: 40%;
      max-width: 200px;
    }
  }
}

#front-arrow{
  cursor: pointer;

  padding: 20px;
  .arrow-down-line{
    left:20px;
    bottom: 0;
  }
  .arrow-down-point{
    left: 17px;
  }
}


/********************************************************************************

                                 SKILLS

********************************************************************************/

.skills-container{
  margin-top: 15vh;
  margin-bottom: 15vh;
  @include breakpoint(laptop){
    margin-bottom: 25vh;
  }


  @include flexbox();
  @include flex-direction(column);
  width: 100%;
  @include breakpoint(laptop){
    @include flex-direction(row);
    @include justify-content(space-around);
  }
  .skills{
    width: 100%;
    @include breakpoint(laptop){
      width: 40%;
      max-width: 450px;
    }
    .skill{
        position: relative;
      .skill-bar{
        margin: 5px 0 20px 0;
        height: 7px;
        width: 0; /* initial state*/
        position: relative;
        background-color: $accent1-color;
      }
      .marker{
        display: none;
        margin-left: -18px;
        width: 35px;
        position: absolute;
        left: 0;
        top:-5px;
        background-color: $primary-color;
        @include border($primary-color);
        padding: 0;
        text-align: center;
        p{
          color: $base-color;
          font-size: 0.875em /* 14  / 16px */;
          font-family: $body-font;
        }
        .arrow-down-point{
          bottom:-5px;
          right:12px;
        }
      }
      &:nth-child(odd){
        .skill-bar{
          background-color: $accent2-color;
        }
      }

    }
    &:nth-child(even){
     .skill{
       &:nth-child(odd){
         .skill-bar{
           background-color: $accent1-color;

         }
       }
       &:nth-child(even){
         .skill-bar{
           background-color: $accent2-color;
         }
       }
     }
    }
  }
}

/********************************************************************************

                                 WORK

********************************************************************************/

#work{
  h1{
    margin-bottom: 15vh;
  }
}

.work-grid{
  margin-top: 100px;
  margin-bottom: 15vh;
  @include breakpoint(laptop){
    margin-bottom: 25vh;
  }
  .work-item{
    cursor: pointer;
    &.main{
      margin-left: 31.16%;
      height: 350px;
      img{
        max-height: 350px;
      }
      .work-text{
        left: -45%;
      }
    }
    &:nth-child(even){
      margin-left: 31.16%;
      .work-text{
        left: -45%;
      }
    }
    &:nth-child(odd){
      margin-right: 31.16%;
      .work-text{
        right:-45%;
      }
    }
   &.work-xs{
     height: 200px;
     img {
       max-height: 150px;
     }
   }
    text-align: center;
    position: relative;
    height: 250px;
    width: 68.84% ;
    margin-bottom: 50px;
    img{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      width: auto;
      max-width: 100%;
      max-height: 250px;
      z-index: 10;
    }
    .work-text{
      transform: translateY(-50%);
      text-align: left;
      line-height: 1.2em;
      position: absolute;
      top:40%;
      z-index: 20;
      //text-transform: capitalize;
    }
  }
  @include breakpoint(mobilelandscape){
    .work-item{
      &:nth-child(even){
        margin-left: 43.72%;
        .work-text{
          left:0;
          transform: translate(-87.44%, -50%);
        }
      }
      &:nth-child(odd){
        margin-right: 43.72%;
        .work-text{
          right: 0;
          transform: translate(87.44%, -50%);
        }
        &.main{
          height: 450px;
          margin-left: 43.72%;
          img{
            max-height: 450px;
          }
          .work-text{
            left: 0;
            right: auto;
            transform: translate(-87.44%, -50%);
          }
        }
      }
      height: 350px;
      width: 56.28%;
      img{
        max-height: 350px;
      }
    }
  }
  @include breakpoint(laptop){
    .work-row{
    position: relative;
      margin-top: -100px;
      .work-item{
        &:first-child{
            width: 28.72%;
            margin-left: 7.5%;
            height:430px;
          img{
            max-height: 430px;
          }
          .work-text{
            left: 0;
              transform: translate(-90.58%, -50%);
          }
        }
        &:nth-child(2){
          width: 50%;
          position: absolute;
          bottom: 0;
          right: 0;
          height: 300px;
          img{
            max-height: 250px;
          }
        }
        display: inline-block;
        margin: 0;
        .work-text{
          left:0;
          right:auto;
          transform: translate(-87.44%, -50%);
        }
      }
    }
  }
  @include breakpoint(bigscreens){
    .work-item{
      &:nth-child(odd){
        &.main{
          height:600px;
          img{
            max-height: 600px;
          }
        }
      }
    }
    .work-row{
      margin-top: -210px;
      .work-item{
        &:first-child{
          height:650px;
          img{
            max-height: 650px;
          }
        }
        &:nth-child(2){
          height:370px;
          img{
            max-height: 300px;
          }
        }
      }
    }
  }
}

/********************************************************************************

                               INDIVIDUAL  WORK

********************************************************************************/

.work-wdw{
  display: none;

  position: fixed;
  top: 0;
  left: 0;


  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: $base-color;
  &.open{
    display: block;

  }
  h1{
    margin: 1.5em 0;
  }
  .work-img{
    img{
      width: 90%;
      max-width: 500px;
      margin: 50px 0;
      &.img-xs{
        margin: 100px 0;
        max-width: 350px;
      }
      &.img-xl{
        margin: 100px 0;
        max-width: 800px;
      }
      &.img-large{
        max-width: 800px;
      }
    }
  }
  .work-info{
    width: 100%;
    @include flexbox();
    @include flex-direction(column);
    margin-bottom: 70px;
    @include breakpoint(tablet){
      @include flex-direction(row);
      @include justify-content(space-between);
    }
    @include breakpoint(bigscreens){
      @include flex-direction(column);
      @include align-items(flex-end);
      width: 30%;
    }
    .col{
      width: 100%;
      @include breakpoint(tablet){
        width: 49%;
      }
      @include breakpoint(bigscreens){
        width: 100%;
      }
    }
  }
  .work-start-container{
    @include breakpoint(bigscreens){
      @include flexbox();
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-items(space-between);
    }
    .first-img{
      @include breakpoint(bigscreens){
        width: 60%;
      }
    }
  }
  .tech-box{
    width: 100%;
    margin: 100px 0;
    .tech-icons{
      margin: 50px 0 0 0;
      width: 100%;
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      img{
        width: 100%;
        max-width: 100px;
      }
      svg{
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
        &:nth-child(3n-1){
          path{
            fill: $accent2-color;
          }
        }
        &:nth-child(3n+0){
          path{
            fill: $accent1-color;
          }
        }
        path{
          fill: $primary-color;
          &.white{
            fill: $base-color;
          }
        }
        @include breakpoint(mobilelandscape){
          margin-bottom: 0;
        }
      }
      @include breakpoint(mobilelandscape){
        @include flex-direction(row);
        @include justify-content(space-between);
      }
    }
  }

}

.flex-bottom{
  @include flexbox();
  @include flex-direction(row);
  @include align-items(flex-end);
  @include justify-content(center);
  img{
    margin: 50px 0 0 0 !important;
  }
}

/********************************************************************************

                                 TESTIMONIALS

********************************************************************************/

#testimonials{
  margin-bottom: 15vh;
  @include breakpoint(laptop){
    margin-bottom: 25vh;
  }
  h1{
    margin-bottom: 0;
  }
}
.quote-icon{
  margin-top: 50px;
}
.quote-slider{
  width:100%;
  max-width: 500px;

  blockquote{
    margin-top: 50px;
    opacity: 1;


    .testimonial-quote{
      opacity: 0;
      transition: 0.2s opacity;
      display: none;
      &.active{
        opacity: 1;
        display: inline;
      }
    }
  }
  .testimonial-person{
    transition: 0.2s opacity;
    margin-top: 30px;
    display: none;
    &.active{
      display: block;
    }
  }
  .quote-nav{
    margin-top: 50px;
    margin-bottom: 80px;
    .person-img{
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-right: 20px;
      opacity: 0.3;
      transition: 0.3s opacity;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }

      &:hover, &.active{
        opacity: 1;
      }
    }
  }
}


/********************************************************************************

                                 CONTACT

********************************************************************************/

#contact{
  padding-bottom: 100px;
  h1{
    margin-top: 0;
  }
}

.contact-info{
  @include align-items(center);
  @include breakpoint(laptop){
    @include justify-content(space-around);
    @include align-items(flex-start);
  }
}

.contact-item{
  text-transform: none;
  margin-top: 30px;
  .icons-container{
    height: 80px;
  }
}

/********************************************************************************

                                  SOCIAL ICONS

********************************************************************************/

.social-icons{
  i{
    transition: 0.2s;
    &:hover{
      color: $secondary-color;
    }
  }

}

/********************************************************************************

                                  FLEXBOX
********************************************************************************/

.flex-column{
  @include flexbox();
  @include flex-direction(column);
}

.flex-row{
  @include flexbox();
  @include flex-direction(row);
}

.flex-row-laptop{
  @include breakpoint(laptop){
    @include flex-direction(row);
  }
}

.flex-center{
  @include justify-content(center);
  @include align-items(center);
}