/********************************************************************************
                                  SETTING COLOUR VARIABLES
********************************************************************************/
$base-color:            #fefefe;
$primary-color:         #1b1b1b;
$primary-color-light:   lighten($primary-color, 0.7);

//$secondary-color:       #e8e9f0;
$secondary-color:       #ededed;
$tertiary-color:       #b9babf;
$accent1-color:         #353ba8;
$accent2-color:         #fd5b43;

body{
  background-color: $accent2-color;
}

/********************************************************************************
                                  COLOUR BASED CLASSES
********************************************************************************/

.base-color{
  color: $base-color;
}

.primary-color{
  color: $primary-color;
}

.tertiary-color{
  color: $tertiary-color;
}

.secondary-color{
  color: $secondary-color;
}

.accent1-color{
  color: $accent1-color;
}
.accent2-color{
  color: $accent2-color;
}

/********************************************************************************
                                  BACKGROUND COLOURS
********************************************************************************/

.base-color-bg{
  background-color: $base-color;
}

.primary-color-bg{
  background-color: $primary-color;
}

.secondary-color-bg{
  background-color: $secondary-color;
}

.accent1-color-bg{
  background-color: $accent1-color;
}
.accent2-color-bg{
  background-color: $accent2-color;
}

/********************************************************************************
                                  OVERLAY COLOURS
********************************************************************************/
%full-width-height{
  width: 100%;
  height: 100%;
}

.background-image-overlay-base-color{
  @extend %full-width-height;
  background-color: rgba($base-color, 0.5);
}
.background-image-overlay-primary-color{
  @extend %full-width-height;
  background-color: rgba($primary-color, 0.5);
}
.background-image-overlay-accent1-color{
  @extend %full-width-height;
  background-color: rgba($accent1-color, 0.8);
}
.background-image-overlay-accent2-color{
  @extend %full-width-height;
  background-color: rgba($accent2-color, 0.8);
}


.background-image-overlay-secondary-color{
  @extend %full-width-height;
  background-color: rgba($secondary-color, 0.8);
}

.background-image-overlay-secondary-color-dark{
  @extend %full-width-height;
  background-color: rgba($secondary-color, 0.9);
}
.background-image-overlay-accent1-gradient{
  @extend %full-width-height;
  background: rgba($accent1-color, 0.9); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, rgba($accent1-color, 0.9), $primary-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba($accent1-color, 0.9), $primary-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba($accent1-color, 0.9), $primary-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba($accent1-color, 0.9), $primary-color); /* Standard syntax */
}


/********************************************************************************
                                  GRADIENT
********************************************************************************/

.gradient-1{
  background: $base-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $base-color, $accent2-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $base-color, $accent2-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $base-color, $accent2-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $base-color, $accent2-color); /* Standard syntax */
}
.gradient-2{
  background: $base-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, $base-color, $secondary-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, $base-color, $secondary-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, $base-color, $secondary-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, $base-color, $secondary-color); /* Standard syntax */
}

.gradient-3{
  background: $base-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $base-color, $accent1-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $base-color, $accent1-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $base-color, $accent1-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $base-color, $accent1-color); /* Standard syntax */
}
.gradient-4{
  background: $base-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #343434, $primary-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #343434, $primary-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #343434, $primary-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #343434, $primary-color); /* Standard syntax */
}


.gradient-5{
  background: $base-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, $accent1-color, $primary-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, $accent1-color, $primary-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, $accent1-color, $primary-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, $accent1-color, $primary-color); /* Standard syntax */
}

/********************************************************************************
                                < A > COLOUR VAR
********************************************************************************/


.link-underline-appear, .link-underline-disappear{
  &:before{
    background: $primary-color;
  }
  &.base-color{
    &:before{
      background: $base-color;
    }
  }
  &.secondary-color{
    &:before{
      background: $secondary-color;
    }
  }
  &.accent1-color{
    &:before{
      background: $accent1-color;
    }
  }
  &.accent2-color{
    &:before{
      background: $accent2-color;
    }
  }
}

.base-color-hover{
  i,p{
    transition: 0.2s opacity;
  }
  &:hover{
    i,p{
      opacity: 0.8;
    }
  }
}

/********************************************************************************
                                  HEADER HEIGHT VARS
********************************************************************************/

//Header heights
$header-height-mobile:  80px;
$header-height:         100px;

//Landing section height
$landing-height:        100vh;
