/********************************************************************************

                                  FOOTER

********************************************************************************/

.footer{
  width: 100vw;
  height: 50vh;
  left: 0;
  position: relative;
  .container{
    height: 50vh;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(space-around);
    @include breakpoint(tablet){
      @include flex-direction(row);
    }
  }
  .server{
    position: absolute;
    bottom:50%;
    transform: translate(0, 50%);
    left: 0;
    background-color: $base-color;
    padding: 5px;
    width: 90%;
    text-align: center;
    @include border($base-color);
    @include breakpoint(laptop){
      width: 250px;
      bottom:0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    img{
      display: inline-block;
      width: 20px;
      @include breakpoint(laptop){
        display: block;
        margin: 15px auto;
        width: 50px;
      }
    }
    p{
      display: inline-block;
      color: $primary-color;
      @include breakpoint(laptop){
        display: inline;
       font-size: 1em;
      }
    }
  }
}

.footer-work{
  width: 100%;
  @include breakpoint(tablet){
    height: 50vh;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
  }
  .col{
    height: 50vh;
    max-height: 300px;
    width: 100%;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    @include breakpoint(tablet){
      max-height: none;
      width: 48%;

    }
  }
}